@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("@/fonts/NotoSerifKR-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src:
    local("Pretendard Black"),
    url(@/fonts/Pretendard-Black.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src:
    local("Pretendard ExtraBold"),
    url(@/fonts/Pretendard-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url(@/fonts/Pretendard-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url(@/fonts/Pretendard-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url(@/fonts/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url(@/fonts/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url(@/fonts/Pretendard-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src:
    local("Pretendard ExtraLight"),
    url(@/fonts/Pretendard-ExtraLight.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src:
    local("Pretendard Thin"),
    url(@/fonts/Pretendard-Thin.woff2) format("woff2");
}

@theme {
  --font-noto-serif: "Noto Serif KR", serif;
  --font-pretendard: "Pretendard", serif;
}
